*{
	margin: 0 ;/*auto*/
	padding: 0;
	font-family:"Micrasoft YaHei";
}
hr{
	margin: 0;
	padding: 0;
	border: none;
	/*border-top: 1px solid #ff728f;*/
	height: 1px;
	width: 95%;
	text-align: center;
} 
a{
	color: #999;
	text-decoration: none;
}
/*顶部nav*/
#topNav{
	height: 31px;
	background-color: black;
}
/*搜索部分*/
#docHead{
	/*width: 1345px;*/
	height: 100px;
	background-color: white;
}
/*分类nav*/
#topTabBox{
	height: 40px;
	/*background-color: white;*/
}
/*轮播图*/
#rotation{
	height: 505px;
	/*background-color: #f3f3f3;*/
	z-index: -100;
}
#other {
	width: 1345px;
	margin:0 auto;
	/*padding: 0 100px;*/
	/* background-color: #f6f6f6; */
}
#other .inner{
	width:1090px;
	margin: 0 auto;
	padding: 0 auto;
	/*background-color:#f6f6f6;*/
	/* background-color:pink; */
}






/*顶部nav内套的一个div*/
.top-nav{
	width:1090px;
	padding: 0 auto;
	margin: 0 auto;
	line-height: 31px;
}
/*顶部nav的字体颜色设置*/
.top-nav span,.top-nav a{
	color: #999999;
	text-decoration: none;
	font-size: 13px;
}
/*a标签悬停*/
.top-nav a:hover{
	color: white;
}
.top-nav>*{
	display: inline;
}
.top-nav .phone-kaola{
	margin-left: 30px;
}
.top-nav .topNav-right{
	margin: 0;
	float: right;
}
/*顶部nav右侧列表设置*/
.top-nav .topNav-right li{
	padding: 0 10px;
	display: inline-block;
}
.top-nav .topNav-right .list:hover .iconsanb{
	/*animation-play-state: running;*/
	transform: rotate(90deg);
	color: #ff0203;
}



/*详情*/
.top-nav .topNav-right .list{
	position: relative;
}
.top-nav .topNav-right .list>div{
	/*width: auto;*/
	/*height: 90px;*/
	padding: 2px 8px 8px 8px;
	border-left:1px solid #ebebeb; 
	border-right:1px solid #ebebeb; 
	border-bottom:1px solid #ebebeb; 
	background-color: white;
	position: absolute;	
	left: 0px;
	top:31px;
	z-index: 10;
	display: none;
}
.top-nav .topNav-right .list div>li{
	padding: 0;
	height: 20px;
}
.top-nav .topNav-right .list div a{
	height: 18px;
	font-size: 12px;
}
.top-nav .topNav-right .list div hr{
	border-top: 1px solid #ebebeb;
}
.top-nav .topNav-right .list:hover{
	background-color: white;
}
.top-nav .topNav-right .list:hover .a{
	color: #ff0203;
}
.top-nav .topNav-right .list a:hover{
	/*background-color: white;*/
	color: #ff0203;
}
.top-nav .topNav-right .list:hover div{
	display: block;
}
.top-nav .topNav-right .list div a:hover{
	color: #ff0203;
}
.top-nav .topNav-right .personal{
	width: 95px;
	height: 290px;
}
.top-nav .topNav-right .customer{
	width: 110px;
	height: 120px;
}
.top-nav .topNav-right .voucher{
	width: 95px;
	height: 90px;
}
.top-nav .topNav-right .consumer{
	width: 95px;
	height: 60px;
}
.top-nav .topNav-right .m{
	width: 80px;
	height: 188px;
}
.top-nav .topNav-right .list5 .m{
	position: absolute;
	left: -35px;
	top:31px;
}




/*搜索部分内套div设置*/
#docHead .logo-search{
	width: 1090px;
	padding: 0 auto;
	margin: 0 auto;
	position: relative;
}
/*考拉logo*/
#docHead .logo-search img{
	margin: 20px 10px 10px 0;
}
/*搜索框*/
#docHead .logo-search .search{
	display: inline-block;
	height: 70px; 
	width: 530px;
	position: absolute;
	top: 20px;
}
#docHead .logo-search .search .searchbox-outer{
	width: 511px;
	height: 40px;
	border: 2px solid #ff0d1f;
	border-radius: 40px; 
}
#docHead .logo-search .search .searchbox-outer>img{
	margin: 12px 8px;
}
/*搜索内框*/
#docHead .logo-search .search .searchbox-inner {
	width: 390px;
	height: 24px;
	border: 0;
	padding: 0 10px;
	position: absolute;
	left: 37px;
	top: 10px;
}
/*搜索提交按钮*/
#docHead .logo-search .search .searchbox-outer .submit{
	width: 60px;
	height: 43px;
	border: 0;
	border-radius: 40px;
	position: absolute;
	top: 0px;
	right: 17px;
	background:linear-gradient(to right,#ff0203,#ff3263);
}
#docHead .logo-search .search .searchbox-outer span img{
	width: 30px;
	height: 30px;
	position:absolute;
	right: 5px;
	top: -12px;
}
/*搜索提示*/
#docHead .search-after .search-list{
	text-align: center;
}
#docHead .search-after .search-list li{
	padding: 0 8px;
	display: inline;
}
#docHead .search-after .search-list a{
	text-decoration: none;
	color: #999999;
	font-size: 12px;
}
/*购物车*/
#docHead .logo-search .shopping-cart{
	width: 110px;
	height: 40px;
	border: 2px solid red;
	border-radius: 40px;
	position: absolute;
	left: 570px;
	top: 0px;
}
#docHead .logo-search .shopping-cart img{
	position: absolute;
	left: 9px;
	top: -12px;
}
#docHead .logo-search .shopping-cart span{
	display: inline;
	width: 48px;
	height: 36px;
	padding: 0 0 0 6px;
	position: absolute;
	left: 35px;
	top: 2px;
	line-height: 36px;
	text-decoration: none;
	color: black;
}
#docHead .logo-search .shopping-cart span:hover{
	color: #ff1932;
}




/*分类导航部分*/
.topTabBox-inner{
	width: 1090px;
	padding: 0 auto;
	margin: 0 auto;
}
/*所有分类框*/
.topTabBox-inner .all-categories{
	display: inline-block;
	width: 164px;
	height: 41px;
	border: 0;
	background:linear-gradient(to right,#ff0203,#ff3263);
	line-height: 40px;
}
.topTabBox-inner .all-categories .all-categories-logo{
	display: inline-block;
	margin: 0 17px;
}
.topTabBox-inner .all-categories .all-categories-logo i{
	width: 15px;
	height: 0px;
	border: 1px solid #ddd;
	display: block;
	margin-top: 3px;
}
.topTabBox-inner .all-categories span{
	color: white;
	line-height: 40px;
	text-align: left;
	font-size: 14px;			
}



/*内容区导航*/
.topTabBox-inner .nav-list{
	margin: 0 20px 0 0;
	float: right;
	line-height: 40px;
}
.topTabBox-inner .nav-list li{
	margin: 0 20px;
	display: inline;
}
.topTabBox-inner .nav-list a{
	text-decoration: none;
	color: #333;
	font-size: 15px;
	font-weight: bold;
}
.topTabBox-inner .nav-list a:hover{
	color: #ff1e32;
}



/*左侧分类导航栏*/
.topTabBox-inner .all-categories .classify-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	background:linear-gradient(to right,#ff0203,#ff3263);
	/*float: left;*/
	z-index: 1;
}
.topTabBox-inner .all-categories .classify-list li{
	text-align: center;
	border:1px;
	position: relative;
}
.topTabBox-inner .all-categories .classify-list span{
	color: white;
	font-size: 14px;
}
.topTabBox-inner .all-categories .classify-list li:hover{
	background-color: white;
}
.topTabBox-inner .all-categories .classify-list li:hover span{
	color: #ff1e32;
	/*clear: both;*/
}
.topTabBox-inner .all-categories .classify-list li .white{
	float: left;
	position: absolute;
	left: 20px;
	top:9px;
	z-index: 1;
}
.topTabBox-inner .all-categories .classify-list li .red{
	float: left;
	position: absolute;
	left: 20px;
	top:9px;
	z-index: 0;
}
.topTabBox-inner .all-categories .classify-list li .turn-right{
	height: 21px;
	float: right;
	position: absolute;
	right: 19px;
	top: 10px;
}
.topTabBox-inner .all-categories .list hr{
	border-top: 1px solid #ff708d;
}




/*盒子依靠分类导航栏中的左上角定位*/
.topTabBox-inner .all-categories .classify-list .list .list-box{
	width: 930px;
	height: 471px;
	background-color: #ebebeb;
	border: 1px solid #ff0203;
	display: none;
}
/*悬停显示*/
.topTabBox-inner .all-categories .classify-list .list:hover .list-box{
	display: block;
}
/*盒子详细分类*/
/*详细分类依靠盒详细子定位*/
.topTabBox-inner .all-categories .classify-list .list .box-inner1{
	margin: 0;
	padding: 0;
	width: 646px;
	height: 471px;
	background-color: white;
	position:absolute;
	left: 0px;
	top:0px;
}
/*大分类标题*/
.topTabBox-inner .all-categories .classify-list .list .list-box p{
	font-weight: bold;
	height: 36px;
}
/*分类左上*/
.topTabBox-inner .all-categories .classify-list .list .list-box .box-up-left{
	margin-left:10px;
	display: inline-block;
	text-align: left;
}
/*分类右上*/
.topTabBox-inner .all-categories .classify-list .list .list-box .box-up-right{
	display: inline-block;
	float: right;
	text-align: left;
	}
/*分类左中*/
.topTabBox-inner .all-categories .classify-list .list .list-box .box-down-left{
	margin-left: 10px;
	display: inline-block;
	text-align: left;
}
/*分类右中*/
.topTabBox-inner .all-categories .classify-list .list .list-box .box-down-right{
	display: inline-block;
	float: right;
	text-align: left;
}
/*分类坐下*/
.topTabBox-inner .all-categories .classify-list .list .list-box .box-bottom{
	margin-left: 10px;
	text-align: left;
}
/*a标签设置*/
.topTabBox-inner .all-categories .classify-list .list .list-box .box-inner1 div a{
	text-decoration: none;
	/*margin-top: 0px;*/
	padding: 0 10px;
	color: #999;
	font-size: 14px;
	white-space:nowrap; 
	vertical-align:top;
}
/*盒子图片区*/
/*图片区依靠详细盒子定位*/
.topTabBox-inner .all-categories .classify-list .list .box-inner2{
	width: 237px;
	height: 331px;
	padding: 9px 8px 0 13px;
	background-color: #ebebeb;
	position: absolute;
	right: 0;
	top: 0;
}
/*存放图片的a标签*/
.topTabBox-inner .all-categories .classify-list .list .box-inner2 a{
	height: 0;
	text-align: initial;
	font-size: 0;
}
/*图片设置*/
.topTabBox-inner .all-categories .classify-list .list .box-inner2 a img{
	width: 106px;
	height: 106px;
	margin: 0 7px 0 0;
}
/*第三、四、五、六张图片依靠图片区盒子定位*/
.topTabBox-inner .all-categories .classify-list .list .box-inner2>*:nth-child(3){
	position: absolute;
	left: 18px;
	top: 122px;
}
.topTabBox-inner .all-categories .classify-list .list .box-inner2>*:nth-child(4){
	position: absolute;
	left: 131px;
	top: 122px;
}
.topTabBox-inner .all-categories .classify-list .list .box-inner2>*:nth-child(5){
	position: absolute;
	left: 18px;
	bottom: 106px;
}
.topTabBox-inner .all-categories .classify-list .list .box-inner2>*:nth-child(6){
	position: absolute;
	left: 131px;
	bottom: 106px;
}
/*末尾盒子，依靠详细盒子定位*/
.topTabBox-inner .all-categories .classify-list .list .box-inner3{
	position: absolute;
	right: 12px;
	bottom: 8px;
}


/*美容彩妆盒子*/
/*盒子依靠分类导航栏中的美容彩妆左上角定位*/
.topTabBox-inner .all-categories .classify-list .beauty .beauty-box{
	position:absolute;
	left: 164px; 
	top: 0;
}


/*母婴儿童盒子*/
/*盒子依靠分类导航栏中的母婴儿童左上角定位*/
.topTabBox-inner .all-categories .classify-list .child .child-box{
	position:absolute;
	left: 164px; 
	top: -43px;
}




/*营养健康盒子*/
/*盒子依靠分类导航栏中的营养健康左上角定位*/
.topTabBox-inner .all-categories .classify-list .health .health-box{
	position:absolute;
	left: 164px; 
	top: -86px;
}



/*数码家电盒子*/
/*盒子依靠分类导航栏中的数码家电左上角定位*/
.topTabBox-inner .all-categories .classify-list .digital .digital-box{
	position:absolute;
	left: 164px; 
	top: -129px;
}


/*个人洗护盒子*/
/*盒子依靠分类导航栏中的个人洗护左上角定位*/
.topTabBox-inner .all-categories .classify-list .cleaning .cleaning-box{
	position:absolute;
	left: 164px; 
	top: -172px;
}



/*服饰鞋靴盒子*/
/*盒子依靠分类导航栏中的服饰鞋靴左上角定位*/
.topTabBox-inner .all-categories .classify-list .costume .costume-box{
	position:absolute;
	left: 164px; 
	top: -215px;
}



/*运动户外盒子*/
/*盒子依靠分类导航栏中的运动户外左上角定位*/
.topTabBox-inner .all-categories .classify-list .sport .sport-box{
	position:absolute;
	left: 164px; 
	top: -258px;
}


/*手表配饰盒子*/
/*盒子依靠分类导航栏中的手表配饰左上角定位*/
.topTabBox-inner .all-categories .classify-list .watch .watch-box{
	position:absolute;
	left: 164px; 
	top: -301px;
}



/*轻奢盒子*/
/*盒子依靠分类导航栏中的轻奢左上角定位*/
.topTabBox-inner .all-categories .classify-list .entry-lux .lux-box{
	position:absolute;
	left: 164px; 
	top: -344px;
}



/*家居生活盒子*/
/*盒子依靠分类导航栏中的家居生活左上角定位*/
.topTabBox-inner .all-categories .classify-list .home .home-box{
	position:absolute;
	left: 164px; 
	top: -387px;
}


/*环球美食盒子*/
/*盒子依靠分类导航栏中的环球美食左上角定位*/
.topTabBox-inner .all-categories .classify-list .food .food-box{
	position:absolute;
	left: 164px; 
	top: -430px;
}




/*轮播图设置*/
#rotation .img-box{
	width: 1090px;
	/*height: 505px;*/
	/*background-color: pink;*/
	margin: auto;
	z-index: -100;
	/*overflow: hidden;*/
}
/*轮播图内sellpoint*/
#rotation .img-box #rotation-img{
	position: relative;
	left: -415px;
	top:0px;
	z-index: -10;
}
#rotation .sellpoint{
	background-color: rgba(0,0,0,0.3);
	position: relative;
	top: -35px;
}
#rotation .sellpoint>div{
	width: 1090px;
	margin:0 auto;
	position: relative;
}
#rotation .sellpoint .sell-left{
	height: 32px;
	display: inline-block;
}
#rotation .sellpoint a{
	text-decoration: none;
	color: white;
	line-height: 30px;
	margin-right: 30px;
	font-size: 13px;
}
#rotation .sellpoint  a span{
	color: white;
}
#rotation .sellpoint .sell-right{
	width: 269px;
	display: inline-block;
	position: absolute;
	right: 0px;
}





/*左侧固定导航*/
#other  .sticky-left{
	width: 100px;
	/*height: 300px;*/
	margin:10px;
	background-color: white;
	float: left;
	display: inline-block;
}
#other  .sticky-left{
	position: -webkit-sticky;
	position: sticky;
	left: 0px;
	top: 5px;
}
#other  .sticky-left img{
	width: 100px;
	text-align: center;
}
#other  .sticky-left ul li{
	padding: 8px 0;
	list-style-type: none;
}
#other  .sticky-left li a{
	padding: 8px 10px;
	color: #999;
	margin: 6px;
	text-decoration: none;
}
#other  .sticky-left .s-l-list1 li{
	color: black;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	font-weight: bold;
	height: 30px;			
}
#other  .sticky-left .s-l-list1 li{
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}
			

/*右侧固定导航*/
#other .sticky-right{
	width: 68px;
	margin: 10px;
	background-color: white;
	float: right;
	display: inline-block;	
}
#other .sticky-right{
	position: -webkit-sticky;
	position: sticky;
	right: 30px;
	top: 5px;
}
#other .sticky-right ul li{
	margin: 0px;
	height: 40px;
	padding: 7px 0;
	text-align: center;
	border:1px solid #f1f1f1;
	list-style-type: none;
	background-color: white;	
}
#other .sticky-right .s-l-list2 li a{
	text-decoration: none;
}
#other .sticky-right .s-l-list2 li a i{
	margin:17px;
	/*align:center;*/
}
#other .sticky-right .s-l-list2 li a span{
	margin: 8px;
	/*text-align:center;*/
}



/*四大会场*/
#other  .item{
	width: 1090px;
	/*height: 332px;*/
	padding: 0 auto;
	margin: 20px auto;
	position: relative;
	display: inline-block;
	/*background-color: yellow;*/
}
#other  .item a{
	margin-right: 12px;
}



/*限时抢购部分标题*/
#other .inner .count-down{
	border-top: 1px solid #f0f0f0;
	padding-top: 25px;
}
#other .inner .count-down i{
	width: 40px;
	height: 40px;
	background-color: red;
	color: white;
	font-size: 30px;
	font-weight: bold;
	border-radius: 10px;
}
#other .inner .count-down>*:first-child{
	font-size: 15px;
	color: #999;
}
#other .inner .count-down span span{
	margin:5px;
	color: black;
	font-size: 30px;
}
#other .inner .count-down a{
	float: right;
	margin-right: 50px;
	text-decoration: none;
	color: #999;
	font-size: 13px;
}



/*限时抢购部分盒子*/
#other .inner .count-down-box{
	/*display: inline-block;*/
	width: 1090px;
	height: 400px;
	margin: 0 auto;
	
}
#other .inner .count-down-box li{
	display: inline-block;
	width: 388px;
	height: 190px;
	margin-left: 10px;
	list-style-type: none;
	position:relative;
}
#other .inner .count-down-box li div{
	display: inline-block;
	width: 200px;
	height: 188px;
	margin: 0;
	position: absolute;
	background-color: white;
}
#other .inner .count-down-box li .a1{
	display: inline-block;
	width:124px;
	height:21px;
	font-size: 16px;
	margin:11px 10px 6px 10px ;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
#other .inner .count-down-box li .a2{
	display: inline-block;
	width:203px;
	height:38px;
	text-decoration: none;
	/*display: inline;*/
	overflow:hidden;
	font-size:13px;
	color:#999999;
}
#other .inner .count-down-box li .a3{
	display: inline-block;
	width: 80px;
	height: 36px;
	border:1px solid red;
	border-radius: 36px;
	color: red;
	text-align: center;
	line-height: 36px;
	text-decoration: none;
	position: absolute;
	bottom: 20px;
	right: 10px;
}

#other .inner .count-down-box .flash-sale{
	display: inline-block;
	float: right;
	position: relative;
	bottom: 383px;
	left: 110px;
}


/*热门品牌部分*/
#other .inner .hot-topic{
	width: 1090px;
	margin: 0 auto;
	border-top: 1px solid #f0f0f0;
	padding-top: 20px;
	position: relative;
}
#other .inner .hot-topic span{
	font-size: 15px;
	color: #999;
}#other .inner .hot-topic a{
	position: absolute;
	right: 50px;
	line-height: 40px;
	font-size: 13px;
	text-decoration:none;
	color: #999;
}

/*热门品牌盒子左侧*/
#other .inner .hot-topic-box{
	width: 1090px;
	height: 385px;
}
#other .inner .hot-topic-box .h-t-b-left{
	width: 219px;
	height: 355px;
	/*display: inline-block;*/
}
#other .inner .hot-topic-box .h-t-b-left img{
	width: 219px;
	height: 219px;
}
#other .inner .hot-topic-box .h-t-b-left .text{
	width: 219px;
	height: 136px;
	color: white;
	background-color: #424242;
}
#other .inner .hot-topic-box .h-t-b-left .text .text-p1{
	width: 195px;
	margin: 0 12px;
	font-size: 20px;
	padding-top: 41px;
	padding-bottom: 4px;
	text-align: center;
}
#other .inner .hot-topic-box .h-t-b-left .text .text-p2{
	margin: 0 12px;
	text-align: center;
}


/*品牌盒子右侧*/
#other .inner .hot-topic-box .h-t-b-right li{
	display: inline-block;
	list-style-type: none;
	width: 211px;
	height: 176px;
	margin-bottom: 2px;
	border: 1px solid #ebebeb;
	background-color: white;
}

#other .inner .hot-topic-box .h-t-b-right{
	width: 870px;
	height: 219px;
	/*display: inline-block;*/
	position: relative;
	top: -355px;
	left:223px;
}
#other .inner .hot-topic-box .h-t-b-right li .a1{
	position: absolute;
	font-size: 13px;
	border:1px solid #999;
	border-radius: 16px;
	padding:0 3px;
	display: none;
}
#other .inner .hot-topic-box .h-t-b-right li img{
	margin:8px 46px;
	transform-origin: 60px 60px;
}
#other .inner .hot-topic-box .h-t-b-right li:hover img{
	transform: scale(0.7);
}
#other .inner .hot-topic-box .h-t-b-right li .p1{
	width: 200px;
	height:15px;
	font-size: 13px;
	color: #999;
	position: relative;
	top: -30px;
	left:50px;
	display: none;
}
#other .inner .hot-topic-box .h-t-b-right li .a2{
	/*width: 7px;*/
	color: #ff0203;
	font-size: 13px;
	padding: 7px 15px;
	border: 1px solid red;
	border-radius: 16px;
	position: relative;
	top: -5px;
	left:-60px;
	display: none;
}

#other .inner .hot-topic-box .h-t-b-right li .p2{
	text-align: center;
	position: relative;
}
#other .inner .hot-topic-box .h-t-b-right li:hover .p2{
	display: none;
}
#other .inner .hot-topic-box .h-t-b-right li:hover .a1{
	display: inline;
}
#other .inner .hot-topic-box .h-t-b-right li:hover .p1{
	display: inline;
}
#other .inner .hot-topic-box .h-t-b-right li:hover .a2{
	display: inline;
}


/*美妆专区*/
#other .inner .repetition{
	width: 1090px;
	margin: 0 auto;
	border-top: 1px solid #f0f0f0;
	padding-top: 20px;
	position: relative;
}
#other .inner .repetition span{
	font-size: 15px;
	color: #999;
	font-size: 15px;
}
#other .inner .repetition span a{
	margin: 10px;
}
#other .inner .repetition>a{
	position: absolute;
	right: 50px;
	line-height: 40px;
	font-size: 13px;
	text-decoration:none;
	color: #999;
}

/*美妆推荐*/
#other .inner .repetition-box{
	width: 1090px;
	height: 560px;
}
#other .inner .repetition-left{
	display: inline-block;
	width: 306px;
}
#other .inner .repetition-left ul{
	width: 306px;
	height: 120px;
	list-style-type: none;
	position: relative;
	top: -130px;
	left: 30px;
}
#other .inner .repetition-left ul li{
	width: 82px;
	height: 42px;
	margin: 3px 10px 8px 3px;
	list-style-type: none;
	display: inline-block;
	
}
#other .inner .repetition-left ul li span{
	width: 80px;
	height: 18px;
}
#other .inner .repetition-left ul li span a{
	font-size: 13px;
	width: 82px;
	height: 42px;
	padding: 11px 3px;
	border: 1px solid #999;
	border-radius: 20px;
	background-color: white;
}
#other .inner .repetition-box .repetition-center{
	display: inline-block;
	position: relative;
	
}
#other .inner .repetition-box .repetition-center ul{
	list-style-type: none;
	width: 550px;
	height: 541px;
	position: absolute;
	top:-617px;
	left: 20px;
	/*display: inline-block;*/
}
#other .inner .repetition-box .repetition-center ul li{
	border: 1px solid #ddd;
	width: 270px;
	height: 270px;
	display: inline-block;
	background-color: white;
}
#other .inner .repetition-box .repetition-center ul a{
	text-align: center;
	/*width: 270px;
	height: 200px;
	margin-top: 30px;*/
}
#other .inner .repetition-box .repetition-center ul h3{
	margin-top: 30px;
}
#other .inner .repetition-box .repetition-center ul p{
	margin: 10px;
}
#other .inner .repetition-box .repetition-center ul img{
	margin:0 40px;
}

#other .inner .repetition-box .repetition-right{
	position: relative;
	top: -666px;
	left: 874px;
	width: 211px;
	background-color: white;
}
#other .inner .repetition-box .repetition-right ul{
	list-style-type: none;
	width: 210px;

	/*display: inline-block;*/
}
#other .inner .repetition-box .repetition-right h3{
	padding: 7px 0 ;
	/*margin: 10px 0;*/
	/*background-color: white;*/
	line-height: 30px;

}
#other .inner .repetition-box .repetition-right ul li{
	border: 1px solid #ddd;
	width: 210px;
	height: 120px;
	display: inline-block;
	background-color: white;
}
#other .inner .repetition-hot{
	width: 1090px;
	height: 218px;
	background-color: white;
	margin-bottom: 20px;
}
#other .inner .repetition-hot h3{
	height: 49px;
	line-height: 49px;
	padding-left: 5px;
	border: 1px solid #ddd;
}
#other .inner .repetition-hot div a{
	display: inline-block;
	width: 212px;
	height: 167px;
	text-align: center;
	position: relative;
	border: 1px solid #ddd;

}
#other .inner .repetition-hot div a:hover span{
	display: inline;
}
#other .inner .repetition-hot div img{
	margin-top: 23px;
}
#other .inner .repetition-hot div span{
	color: red;
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}


#other .inner #footBgWarp{
	background-color: white;
	width: 1349px;
	height: 370px;
}
#other .inner #footBgWarp #btmlist{
	width: 1090px;
	height: 48px;
	margin:49px 0;
}
#other .inner #footBgWarp #btmlist ul{
	/*display: inline-block;*/
	list-style-type: none;
	height: 48px;
	position: relative;
}
#other .inner #footBgWarp #btmlist ul li{
	display: inline-block;
	width: 233px;
	margin-left: 32px;
	position: relative;
}
#other .inner #footBgWarp #btmlist ul li .iconfont{
	font-size: 48px;
	position: absolute;
	left: 0;
	top: -16px;
}
#other .inner #footBgWarp #btmlist ul li strong{
	position: absolute;
	top: -10px;
	left: 50px;
}
#other .inner #footBgWarp #btmlist ul li .last-span{
	position: absolute;
	left: 50px;
	top: 9px;
}


#other .inner #footBgWarp #guideList ul{
	display: inline-block;
	width: 1090px;
	height: 128px;
	padding-top: 45px;
	padding-bottom: 90px;
	
	list-style-type: none;
}
#other .inner #footBgWarp #guideList ul li{
	margin-left: 25px;
	vertical-align: top;
}
#other .inner #footBgWarp #guideList ul .attention{
	display: inline-block;
	padding: 20px 0;
}
#other .inner #footBgWarp #guideList .x{
	display: inline-block;
	width: 100px;
	/*margin-left: 18px;*/
}
#other .inner #footBgWarp #guideList ul .x dl{
	display: inline-block;
	width: 100px;
}
#other .inner #footBgWarp #guideList ul .x a{
	font-size: 13px;
	padding: 3px;
}





#statement{
	height: 193px;
	margin: auto;
	padding: auto;
	background-color: #333;
}

#statement .statement-inner{
	width: 1090px;
	height: 153px;
	padding: 20px;
	text-align: center;
	margin:auto;
	font-size: 13px;
	background-color: #333;
	color: #c2c2c2;
}